.alltop{
	height: 30px;
	background-color: #f6f6f6;
}
.alltop .topbar{
	padding:0 15px;
	float: right;
}
.alltop .topbar p{
	margin :0 5px;
	float: left;
	font-size: 12px;
	color: #777;
	line-height: 30px;
}
.alltop .topbar p img{
	width: 22px;
	height: 22px;
	margin-right: 5px;
}
.alltop .topbar p span{
	color: #fc0000;
}

.nav_box{
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}
.navbar{
	border: 0;
}
.navbar .logo img{
	margin:5px 0;
}
.container-fluid {
	padding-right: 0;
}
.navbar-default{
	background-color: #fff;
}
.navbar-default .navbar-nav > li.normal > a{
	color: #666;
	border-bottom:2px solid transparent;
}
.navbar .container-fluid .collapse ul li.sign_box a{
	float: left;
}
.navbar .container-fluid .collapse a.sign{
	padding: 8px 15px;
	border-radius: 15px;
}
.navbar .container-fluid .collapse a.sign.signup{
	border: 1px solid #5aa3e0;
}
.navbar .container-fluid .collapse ul li.sign_box img{
	float: left;
	width: 33px;
	height: 33px;
	border-radius: 50%;
	overflow: hidden;
}
.navbar .container-fluid .collapse ul li.sign_box span{
	float: left;
	padding: 10px 0;
	line-height: 1;
}
.navbar .container-fluid .collapse ul li.sign_box a.signname{
	padding: 8px 5px;
}
.navbar .container-fluid .collapse ul li.sign_box a.signout{
	color: #ea544a;
	padding: 8px 5px;
}
.navbar-toggle{
	margin:13px 15px;
	border: 0;
	background-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
	background-color: transparent;
}
.navbar-toggle .icon-bar + .icon-bar{
	margin-top: 8px;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #5aa3e0;
	width: 44px;
	height: 4px;
	border-radius: 4px;
}
@media (max-width: 992px){
	.navbar .container-fluid .collapse ul li.sign_box{
		margin-left: 0;
	}
	.navbar .container-fluid .collapse ul li.normal a{
		margin:0;
	}
}
@media (min-width: 768px){
	.nav_box.fixnav{
		position: fixed;
		top: 0;
		left :0;
		right: 0;
		z-index: 9999;
	}
	body.padtop{
		padding-top: 73px;
	}
	.float_right{
		float: right;
	}
	.navbar-nav > li.normal > a{
		margin: 0 10px;
		padding: 25px 10px;
	}
	.navbar .container-fluid .collapse ul li.sign_box{
		margin:17px 0 17px 60px;
	}
	.navbar-default .navbar-nav > li.active > a,
	.navbar-default .navbar-nav > li.active > a:hover,
	.navbar-default .navbar-nav > li.active > a:focus,
	.navbar-default .navbar-nav > li.normal > a:hover,
	.navbar-default .navbar-nav > li.normal > a:focus{
		background-color: transparent;
		color: #5aa3e0;
		border-bottom:2px solid #5aa3e0;
	}
	.navbar-toggle {
	    display: none;
	}
}
@media screen and (max-width: 991px) {
	.navbar-nav{
		margin: 0 -15px;
	}
}
@media screen and (max-width: 767px) {
	body{
		padding-top: 72px;
	}
	.alltop{
		display: none;
	}
	.navbar{
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		z-index: 9999;
	}
	.backgroundshadow{
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #000;
		opacity: 0.5;
		z-index: 999;
	}
	.navbar-default .navbar-nav > li.normal > a{
		border-bottom: 1px solid #e5e5e5;
		font-size: 16px;
	}
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus,
	.navbar-default .navbar-nav > li.normal > a:hover{
		background-color: #deedf9;
	}
	.navbar-nav > li.normal > a{
		padding: 15px 30px;
	}
	.navbar .container-fluid .collapse ul li.sign_box{
		margin: 20px 10px;
	}
	.navbar .container-fluid .collapse a.sign{
		float: left;
		padding: 8px 25px;
		margin: 0 10px;
		border: 1px solid #5aa3e0;
	}
	.navbar .container-fluid .collapse a.sign.signup{
		background-color: #5aa3e0;
		color: #fff !important;
	}
}